@{
    ViewBag.Title = "AboutMe";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<br />
<h2>AboutMe</h2>

Họ và Tên: <strong>Bùi Quang Thăng</strong><br />
MSSV: <strong>102120282</strong><br />
Lớp      : <strong>12T1</strong><br />
Khoa     : <strong>Công nghệ thông tin</strong><br />
Trường   : <strong>Đại học Bách Khoa - Đại học Đà Nẵng</strong><br />
Email    : <strong>buiquangthangit@gmail.com</strong><br />
SDT      : <strong>0122-247-4594</strong>